<ion-header>
  <ion-toolbar color="medium">
  <ion-title color="dark" class>Drinks Menu</ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content color="medium">
  <ion-card>
  <ion-grid>
  <ion-row>
  <h4>
<font class size="5">Coffee</font>
  </h4>
  <img src="assets/coffee.jpg" alt="Trulli" width="70" height="150" [routerLink]="['/coffee']" color="dark">
  </ion-row>
  </ion-grid>

  <ion-grid>
  <ion-row>
  <h4>
  <font size="5">Cuppaccino</font>
  </h4>
  <img src="assets/cuppaccino.jpg" alt="Trulli" width="70" height="150" [routerLink]="['/cuppuccino']" color="dark">
  </ion-row>
  </ion-grid>
  <ion-grid>
  <ion-row>
  <h4>
  <font size="5">Rooibos Shake</font>
  </h4>
  <img src="assets/rooibos.jpg" alt="Trulli" width="70" height="150" [routerLink]="['/rooibos-tea']" color="dark">
  </ion-row>
  </ion-grid>
  </ion-card>
  </ion-content>
